<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zel.business.mapper.BusiReturnMapper">
    <resultMap id="ReturnResultMap" type="com.zel.business.domain.BusiReturn">
        <id     property="returnId"           column="return_id" />
        <result property="returnNumber"       column="return_number" />
        <result property="exhibitionId"       column="exhibition_id" />
        <result property="logisticsName"      column="logistics_name" />
        <result property="logisticsNumber"    column="logistics_number" />
        <result property="status"             column="status" />
        <result property="returnBy"           column="return_by" />
        <result property="returnTime"         column="return_time" />
        <result property="receiveBy"          column="receive_by" />
        <result property="receiveAddress"     column="receive_address" />
        <result property="deptId"             column="dept_id" />
        <result property="createBy"           column="create_by"/>
        <result property="createTime"         column="create_time"/>
        <result property="updateBy"           column="update_by"/>
        <result property="updateTime"         column="update_time"/>
        <result property="del"                column="del"/>
        <result property="remark"             column="remark"/>
        <result property="exhibitionName"     column="exhibitionName"/>
        <result property="organizer"          column="organizer"/>
        <result property="address"            column="address"/>
        <result property="deptName"           column="deptName"/>
        <result property="receiveName"        column="receiveName"/>
        <result property="returnName"         column="returnName"/>
        <result property="createName"         column="createName"/>
        <result property="deptName"           column="deptName"/>
    </resultMap>

    <!--查询退还信息-->
    <select id="selectReturnList" resultMap="ReturnResultMap">
        select
            br.return_id ,
            br.return_number ,
            br.exhibition_id ,
            br.logistics_name ,
            br.logistics_number ,
            br.status ,
            br.return_by ,
            br.return_time ,
            br.receive_by ,
            br.receive_address ,
            br.dept_id ,
            br.create_by ,
            br.create_time ,
            br.update_by ,
            br.update_time ,
            br.remark,
            be.exhibition_name as exhibitionName,
            be.address as address,
            be.organizer as organizer,
            ret.user_name as returnName,
            rec.user_name as receiveName,
            dep.dept_name as deptName
        from busi_return as br
        left join busi_exhibition as be on br.exhibition_id = be.exhibition_id
        left join sys_user as ret on br.return_by = ret.user_id
        left join sys_user as rec on br.receive_by = rec.user_id
        left join sys_dept as dep on br.dept_id = dep.dept_id
        where br.del = 1
        <if test="exhibitionName != null and exhibitionName !=''">
            and be.exhibition_name like concat ('%', #{exhibitionName},'%')
        </if>
        <if test="returnNumber != null and returnNumber != ''">
            and br.return_number like concat ('%', #{returnNumber},'%')
        </if>
        <if test="logisticsNumber != null and logisticsNumber != ''">
            and br.logistics_number like concat ('%', #{logisticsNumber},'%')
        </if>
        order by br.create_time DESC
    </select>

    <!--查询退还展会信息 -->
    <select id="selectReturnExhibitionInfo" resultType="com.zel.business.domain.BusiExhibition">
        select
            exhibition_id as exhibitionId,
            exhibition_name as exhibitionName
        from busi_exhibition
        where exhibition_id = #{exhibitionId}
    </select>

    <!--查询退还流水号信息-->
    <select id="selectSerialNumberInFo" resultType="com.zel.business.domain.BusiSerialNumberInfo">
        select
            prefix as prefix,
            ver as ver,
            serial_number as serialNumber
        from Busi_serial_number_info
        where serial_number_info_id = 3
    </select>

    <!--插入退还信息-->
    <insert id="insertReturn" useGeneratedKeys="true" keyProperty="returnId">
        INSERT INTO   busi_return
        (
            return_number ,
            exhibition_id ,
            logistics_name ,
            logistics_number ,
            status ,
            receive_by ,
            receive_address ,
            dept_id ,
            create_by ,
            create_time ,
            del ,
            remark
        )
        values
        (
         #{returnNumber},
         #{exhibitionId},
         #{logisticsName},
         #{logisticsNumber},
         1,
         #{receiveBy},
         #{receiveAddress},
         #{deptId},
         #{createBy},
         now(),
         1,
         #{remark}
        )
    </insert>

    <!--插入退还物料明细-->
    <insert id="insertReturnMaterialDetails" >
        INSERT INTO busi_return_material_detail
            (
             return_id  ,
             material_id  ,
             return_quantity  ,
             create_by  ,
             create_time
             )
        VALUES
        <foreach collection="receiveList" item="detail" index="insex" open="" separator="," close="">
            (
             #{returnId},
             #{detail.materialId},
             #{detail.receiveQuantity},
             #{createBy},
             now()
             )
        </foreach>
    </insert>

    <!--更新退还流水号-->
    <update id="updateReturnSerialNumber">
        update busi_serial_number_info
        set serial_number = serial_number + 1
        where serial_number_info_id = 3
    </update>

    <!--删除退还信息-->
    <update id="removeReturn">
        update busi_return
        set del = 2
        where return_id in
        <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateReturnStatus">
        update busi_return
        set
            return_by = #{returnBy},
            return_time = now(),
            status = 2
        where return_id IN
        <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--查询未退还展会列表-->
    <select id="selectUnreturnList" resultType="com.zel.business.domain.BusiExhibition">
        SELECT
            exhibition_id AS exhibitionId,
            exhibition_name AS exhibitionName,
            STATUS AS STATUS,
            address AS address,
            organizer AS organizer,
            start_time AS startTime,
            end_time AS endTime,
            remark AS remark
        FROM
            busi_exhibition
        WHERE
            exhibition_id NOT IN ( SELECT exhibition_id FROM busi_return WHERE del = 1 )
          AND `status` = 4
          AND del = 1
    </select>

    <select id="selectUnreturnList2" resultType="com.zel.business.domain.BusiSend">
        SELECT
            br.receive_id as receiveId,
            br.receive_number as receiveNumber,
            br.send_id as sendId,
            br.receive_time as receiveTime,
            br.receive_by as receiveBy,
            bs.send_number as sendNumber,
            bs.send_by as sendBy,
            bs.send_time as sendTime,
            bs.logistics_name as logisticsName,
            bs.logistics_number as logisticsNumber,
            bs.exhibition_id as exhibitionId,
            be.exhibition_name as exhibitionName,
            be.STATUS as status,
            be.address as address,
            be.organizer as organizer,
            ss.user_name AS sendName,
            sr.user_name AS receiveName
        FROM
            busi_receive AS br
                LEFT JOIN busi_send AS bs ON bs.send_id = br.send_id
                LEFT JOIN busi_exhibition AS be ON bs.exhibition_id = be.exhibition_id
                LEFT JOIN sys_user AS ss ON bs.send_by = ss.user_id
                LEFT JOIN sys_user AS sr ON br.receive_by = sr.user_id
        WHERE
                bs.exhibition_id IN ( SELECT exhibition_id FROM busi_exhibition WHERE `status` = 4 AND del = 1 )
          AND br.del = 1
        <if test="logisticsName != null and logisticsName !=''">
            and bs.logistics_name like concat ('%', #{logisticsName} ,'%')
        </if>
        <if test="logisticsNumber != null and logisticsNumber !=''">
            and bs.logistics_number like concat ('%', #{logisticsNumber} ,'%')
        </if>
        <if test="exhibitionName != null and exhibitionName !=''">
            and be.exhibition_name like concat ('%', #{exhibitionName} ,'%')
        </if>
        <if test="receiveNumber != null and receiveNumber !=''">
            and br.receive_number like concat ('%', #{receiveNumber} ,'%')
        </if>
    </select>

    <select id="selectReturnMaterialDetail" resultType="com.zel.business.domain.dto.BusiReturnMaterialDto">
        SELECT
        bm.material_id AS   materialId,
        bm.material_name AS  materialName,
        bm.material_code AS  materialCode,
        bm.nick_name AS  nickName,
        bm.specifications AS  specifications,
        bm.type AS  type,
        bm.unit AS  unit,
        bm.package_quantity AS  packageQuantity,
        bm.create_by AS  createBy,
        bm.create_time AS  createTime,
        bm.update_by AS  updateBy,
        bm.update_time AS  updateTime,
        bm.remark AS  remark,
        brmd.return_quantity AS returnQuantity,
        IFNULL (brmd.return_receive_quantity,brmd.return_quantity) as returnReceiveQuantity
        FROM
        busi_return_material_detail AS brmd
        LEFT JOIN
        busi_material as bm ON bm.material_id = brmd.material_id
        WHERE
        brmd.return_id = #{returnId}
        <if test="materialName != null and materialName != ''">
            AND bm.material_name like concat('%', #{materialName}, '%')
        </if>
        <if test="materialCode != null and materialCode != ''">
            AND bm.material_code like concat('%', #{materialCode}, '%')
        </if>
        and bm.del = 1
    </select>

    <update id="updateReturnMaterialDetail" parameterType="com.zel.business.domain.BusiReturn">
        UPDATE busi_return_material_detail
        SET update_by = #{updateBy},
            update_time = now( ),
            return_quantity = #{returnQuantity}
        WHERE
            material_id = #{materialId}
          AND return_id = #{returnId}
    </update>

    <update id="confirmReturn" parameterType="java.lang.Long">
        UPDATE busi_return
        SET return_by = #{returnBy},
            return_time = NOW( ),
            status = 2
        WHERE
            return_id = #{returnId}
    </update>

    <select id="selectReturnStatus" parameterType="java.lang.Long" resultType="object">
        select status from busi_return
        where return_id = #{returnId}
    </select>

    <select id="selectUnReturnExhibitionInfo" resultType="com.zel.business.domain.BusiExhibition">
        select
            exhibition_id as exhibitionId,
            exhibition_name as exhibitionName
        from
            busi_exhibition
        where
            status = 4
    </select>

</mapper>