<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zel.business.mapper.BusiReceiveMapper">
    <resultMap id="BaseReceiveResultMap" type="com.zel.business.domain.BusiReceive">
        <result property="receiveId" column="receive_id"/>
        <result property="receiveNumber" column="receive_number"/>
        <result property="sendId" column="send_id"/>
        <result property="sendNumber" column="send_number"/>
        <result property="exhibitionId" column="exhibition_id"/>
        <result property="logisticsName" column="logistics_name"/>
        <result property="logisticsNumber" column="logistics_number"/>
        <result property="status" column="status"/>
        <result property="sendBy" column="send_by"/>
        <result property="sendTime" column="send_time"/>
        <result property="receiveBy" column="receive_by"/>
        <result property="receiveTime" column="receive_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="del" column="del"/>
        <result property="remark" column="remark"/>
        <result property="sendName" column="sendName"/>
        <result property="receiveName" column="receiveName"/>
        <result property="busiExhibitions.exhibitionName" column="exhibition_name"/>
        <result property="busiExhibitions.organizer" column="organizer"/>
        <result property="busiExhibitions.address" column="address"/>
    </resultMap>

   <!--
    * 查询收货列表
    * @param receive 收货信息
    -->
    <select id="selectReceiveList" resultMap="BaseReceiveResultMap">
        SELECT
            br.receive_id,
            br.receive_number,
            br.send_id,
            br.receive_time,
            br. STATUS,
            br.receive_by,
            br.create_time,
            br.remark,
            bs.send_number,
            bs.send_by,
            bs.send_time,
            bs.logistics_name,
            bs.logistics_number,
            bs.exhibition_id,
            be.exhibition_name,
            be.address,
            be.organizer,
            ss.user_name AS sendName,
            sr.user_name AS receiveName
        FROM
            busi_receive AS br
        LEFT JOIN busi_send AS bs ON bs.send_id = br.send_id
        LEFT JOIN busi_exhibition AS be ON bs.exhibition_id = be.exhibition_id
        LEFT JOIN sys_user AS ss ON bs.send_by = ss.user_id
        LEFT JOIN sys_user AS sr ON br.receive_by = sr.user_id

        WHERE
        br.del = 1
        <if test="logisticsName != null and logisticsName !=''">
            and bs.logistics_name like concat ('%', #{logisticsName} ,'%')
        </if>
        <if test="logisticsNumber != null and logisticsNumber !=''">
            and bs.logistics_number like concat ('%', #{logisticsNumber} ,'%')
        </if>
        <if test="busiExhibitions != null and busiExhibitions.exhibitionName != null and busiExhibitions.exhibitionName !=''">
            and be.exhibition_name like concat ('%', #{busiExhibitions.exhibitionName} ,'%')
        </if>
        <if test="receiveNumber != null and receiveNumber !=''">
            and br.receive_number like concat ('%', #{receiveNumber} ,'%')
        </if>
    </select>

    <!--
    * 查询收货物料明细
    * @param sendId 发货id
    -->
    <select id="selectReceiveMaterialDetialList" resultType="com.zel.business.domain.dto.BusiReceiveMaterialDto">
        SELECT
            bsmd.material_id AS materialId,
            bsmd.receive_quantity AS receiveQuantity,
            bm.material_name AS  materialName,
            bm.material_code AS  materialCode,
            bm.nick_name AS  nickName,
            bm.specifications AS  specifications,
            bm.type AS  type,
            bm.unit AS  unit,
            bm.package_quantity AS  packageQuantity,
            bm.create_by AS  createBy,
            bm.create_time AS  createTime,
            bm.update_by AS  updateBy,
            bm.update_time AS  updateTime,
            bm.remark AS  remark
        FROM
            busi_send_material_detail AS bsmd
        LEFT JOIN
            busi_material as bm ON bm.material_id = bsmd.material_id
        WHERE
            bsmd.send_id = #{sendId}
    </select>

    <select id="selectLogisticsInfo" resultType="com.zel.business.domain.BusiSend">
        SELECT
            logistics_name as logisticsName,
            logistics_number as  logisticsNumber
        FROM
            busi_send
        WHERE
          `status` = 2
    </select>

    <select id="selectSendInfo" resultType="com.zel.business.domain.BusiSend">
          SELECT
             send_id ,
             send_number ,
             exhibition_id ,
             logistics_name ,
             logistics_number ,
             status ,
             send_by ,
             send_time ,
             receive_by ,
             receive_address ,
             dept_id ,
             create_by ,
             create_time ,
             update_by ,
             update_time ,
             remark
          FROM
             busi_send
          where
             logistics_number = #{logisticsNumber}
    </select>

    <!--
    * 保存新增收货
    -->
    <insert id="addSave" parameterType="com.zel.business.domain.BusiReceive">
        INSERT INTO  busi_receive
        (
           receive_number ,
           send_id ,
           status ,
           create_by ,
           create_time ,
           receive_by,
           receive_time,
           del
        )
        VALUES
	    (
	      #{receiveNumber},
	      #{sendId},
	      2,
	      #{createBy},
	      now(),
	      #{receiveBy},
	      now(),
	      1
	    )
    </insert>

    <!--
    * 删除收货
    * @param id 收货ID
    -->
    <update id="deleteReceive" parameterType="java.lang.Long">
        update busi_receive
        set del = 2
        where receive_id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--
    * 查询收货流水号
    -->
    <select id="selectReceiveSerialNumberInfo" resultType="com.zel.business.domain.dto.BusiReceiveSerialNumberInfo">
        select
            receive_serial_number_info_id as receiveSerialNumberInfoId ,
            prefix as prefix,
            ver as ver,
            serial_number as serialNumber
        from busi_receive_serial_number_info
    </select>

   <!--
    * 更新收货流水号
    * @param newNumber
    -->
    <update id="updateReceiveSerialNumber" parameterType="java.lang.Long">
        update busi_receive_serial_number_info
        set serial_number = #{newNumber}
    </update>
</mapper>
