<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zel.business.mapper.BusiNoticeMapper">
    <resultMap id="BaseNoticeResultMap" type="com.zel.business.domain.dto.BusiNoticeOutDto">
        <result property="sendId"           column="send_id" />
        <result property="receiveId"           column="receive_id" />
        <result property="receiveNumber"       column="receive_number" />
        <result property="sendNumber"       column="send_number" />
        <result property="exhibitionId"     column="exhibition_id" />
        <result property="logisticsName"    column="logistics_name" />
        <result property="logisticsNumber"  column="logistics_number" />
        <result property="status"           column="status" />
        <result property="sendBy"           column="send_by" />
        <result property="sendTime"         column="send_time" />
        <result property="receiveBy"        column="receive_by" />
        <result property="receiveTime"      column="receive_time"/>
        <result property="receiveAddress"   column="receive_address" />
        <result property="deptId"           column="dept_id" />
        <result property="createBy"         column="create_by"/>
        <result property="createTime"       column="create_time"/>
        <result property="updateBy"         column="update_by"/>
        <result property="updateTime"       column="update_time"/>
        <result property="del"              column="del"/>
        <result property="remark"           column="remark"/>
        <result property="deptName"         column="deptName"/>
        <result property="receiveName"      column="receiveName"/>
        <result property="sendName"         column="sendName"/>
        <result property="receiveName"       column="receiveName"/>
        <result property="busiExhibitions.exhibitionName" column="exhibition_name"/>
        <result property="busiExhibitions.organizer"      column="organizer"/>
        <result property="busiExhibitions.address"        column="address"/>
    </resultMap>

    <!--退还resultMap-->
    <resultMap id="BaseReturnNoticeResultMap" type="com.zel.business.domain.dto.BusiReturnNoticeOutDto">
        <result property="returnId"           column="return_id" />
        <result property="returnNumber"       column="return_number" />
        <result property="exhibitionId"     column="exhibition_id" />
        <result property="logisticsName"    column="logistics_name" />
        <result property="logisticsNumber"  column="logistics_number" />
        <result property="status"           column="status" />
        <result property="receiveId"           column="receive_id" />
        <result property="receiveBy"        column="receive_by" />
        <result property="returnTime"      column="return_time"/>
        <result property="receiveAddress"   column="receive_address" />
        <result property="deptId"           column="dept_id" />
        <result property="exhibitionName" column="exhibition_name"/>
        <result property="organizer"      column="organizer"/>
        <result property="address"        column="address"/>
        <result property="createBy"         column="create_by"/>
        <result property="createTime"       column="create_time"/>
        <result property="updateBy"         column="update_by"/>
        <result property="updateTime"       column="update_time"/>
        <result property="del"              column="del"/>
        <result property="remark"           column="remark"/>
        <result property="deptName"         column="deptName"/>
        <result property="receiveName"      column="receiveName"/>
        <result property="returnName"         column="returnName"/>
        <result property="receiveName"       column="receiveName"/>
        <result property="returnReceiveNumber" column="return_receive_number"/>
        <result property="receiveTime" column="receive_time"/>
    </resultMap>

    <!--退还物料resultMap-->
    <resultMap  id="BusiReturnMaterialResult"  type="com.zel.business.domain.dto.BusiReturnMaterialDto">
        <id     property="materialId"       column="material_id"    />
        <result property="materialName"     column="material_name"    />
        <result property="materialCode"     column="material_code"     />
        <result property="nickName"         column="nick_name"   />
        <result property="specifications"   column="specifications"   />
        <result property="type"             column="type"    />
        <result property="unit"             column="unit"    />
        <result property="packageQuantity"  column="package_quantity"    />
        <result property="createBy"         column="create_by"      />
        <result property="createTime"       column="create_time"    />
        <result property="updateBy"         column="update_by"      />
        <result property="updateTime"       column="update_time"    />
        <result property="del"              column="del"    />
        <result property="remark"           column="remark"    />
        <result property="returnQuantity"   column="return_quantity"/>
    </resultMap>

    <!--
    * 加载到货通知列列表
    -->
    <select id="selectNoticeList" resultMap="BaseNoticeResultMap">
        SELECT
            bs.send_id,
            bs.send_number,
            br.receive_id,
            br.receive_number,
            br.receive_by,
            br.receive_time,
            br.STATUS,
            bs.exhibition_id,
            bs.logistics_name,
            bs.logistics_number,
            bs.send_by,
            bs.send_time,
            bs.dept_id,
            bs.create_by,
            bs.create_time,
            bs.remark,
            be.exhibition_name,
            be.address,
            be.organizer,
            ss.user_name AS sendName,
            sr.user_name AS receiveName
        FROM
            busi_send AS bs
        LEFT JOIN busi_exhibition AS be ON bs.exhibition_id = be.exhibition_id
        LEFT JOIN busi_receive AS br ON br.send_id = bs.send_id
        LEFT JOIN sys_user AS ss ON bs.send_by = ss.user_id
        LEFT JOIN sys_user AS sr ON br.receive_by = sr.user_id

        WHERE
            bs.del = 1
        AND
            bs. STATUS !=1
        <if test="logisticsName != null and logisticsName !=''">
            and  bs.logistics_name like concat ('%', #{logisticsName} ,'%')
        </if>
        <if test="logisticsNumber != null and logisticsNumber !=''">
            and  bs.logistics_number like concat ('%', #{logisticsNumber} ,'%')
        </if>
        <if test="busiExhibitions != null and busiExhibitions.exhibitionName != null and busiExhibitions.exhibitionName !=''">
            and   be.exhibition_name like concat ('%', #{busiExhibitions.exhibitionName} ,'%')
        </if>
        <if test="sendNumber != null and sendNumber !=''">
            and  bs.send_number like concat ('%', #{sendNumber} ,'%')
        </if>
        <if test="receiveNumber != null and receiveNumber !=''">
            and  br.receive_number like concat ('%', #{receiveNumber} ,'%')
        </if>
        <if test="startTime!=null and startTime!=''">
            and DATE_FORMAT(bs.send_time, '%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{startTime}, '%Y-%m-%d')
        </if>
        <if test="endTime!=null and endTime!=''">
            and DATE_FORMAT(bs.send_time, '%Y-%m-%d')  <![CDATA[ <= ]]> DATE_FORMAT(#{endTime}, '%Y-%m-%d')
        </if>
        order by bs.status ASC, br.receive_time DESC
    </select>
    
    
    <select id="findReturnNoticeList"  resultMap="BaseReturnNoticeResultMap">
        SELECT
            br.return_id  ,
            br.return_number  ,
            br.exhibition_id  ,
            br.logistics_name,
            br.logistics_number,
            br.STATUS,
            br.return_by,
            br.return_time,
            br.receive_by,
            br.receive_address,
            br.dept_id,
            ret.user_name as returnName,
            dep.dept_name as deptName,
            be.exhibition_name,
            be.address,
            be.organizer,
            brr.return_receive_number ,
            brr.receive_time,
            rec.user_name as receiveName
        FROM
            busi_return AS br
                LEFT JOIN sys_user AS ret ON br.return_by = ret.user_id
                LEFT JOIN sys_dept AS dep ON br.dept_id = dep.dept_id
                LEFT JOIN busi_exhibition AS be ON br.exhibition_id = be.exhibition_id
                LEFT JOIN busi_return_receive AS brr ON br.return_id = brr.return_id
                LEFT JOIN sys_user AS rec ON brr.receive_by = rec.user_id
        WHERE
            br.del = 1
        and br.status != 1
        <if test="logisticsName != null and logisticsName !=''">
            and  br.logistics_name like concat ('%', #{logisticsName} ,'%')
        </if>
        <if test="logisticsNumber != null and logisticsNumber !=''">
            and  br.logistics_number like concat ('%', #{logisticsNumber} ,'%')
        </if>
        <if test="exhibitionName != null and exhibitionName !=''">
            and   be.exhibition_name like concat ('%', #{exhibitionName} ,'%')
        </if>
        <if test="returnNumber != null and returnNumber !=''">
            and  br.return_number like concat ('%', #{returnNumber} ,'%')
        </if>
        <if test="startTime!=null and startTime!=''">
            and DATE_FORMAT(br.return_time, '%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{startTime}, '%Y-%m-%d')
        </if>
        <if test="endTime!=null and endTime!=''">
            and DATE_FORMAT(br.return_time, '%Y-%m-%d')  <![CDATA[ <= ]]> DATE_FORMAT(#{endTime}, '%Y-%m-%d')
        </if>
        ORDER BY
        br.STATUS ASC,
        brr.receive_time DESC,br.return_time DESC
    </select>

    <select id="selectReturnMaterialDetail" resultMap="BusiReturnMaterialResult">
        SELECT
            bm.material_id,
            bm.material_name,
            bm.material_code,
            bm.nick_name,
            bm.specifications,
            bm.type,
            bm.unit,
            bm.package_quantity,
            brmd.return_quantity
        FROM
            busi_return_material_detail AS brmd
                LEFT JOIN busi_material AS bm ON bm.material_id = brmd.material_id
        WHERE
            brmd.return_id = #{returnId}
    </select>

</mapper>