<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('退还信息')" />
	<th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: ztree-css" />
	<th:block th:include="include :: select2-css" />
</head>
<style>
	.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
		color: #555;
		padding: 1px 7px;
	}
</style>
<body class="gray-bg">
	<div class="ui-layout-center">
		<div class="main-content">
			<form id="form-returnInfo" class="form-horizontal" th:object="${exhibitionInfo}">
				<input id="deptId" name="deptId" type="hidden"/>
				<input id="treeId"   name="treeId" type="hidden"/>
				<h4 class="form-header h4">退还单</h4>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label is-required">退还单号：</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" disabled="disabled" name="returnNumber" id="returnNumber" th:value="${returnNumber}" required>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label is-required">展会信息：</label>
							<div class="col-sm-8">
								<select id="exhibitionId" name="exhibitionId" class="form-control ">
									<option value=""> ---请选择展会信息---</option>
									<option th:each="name:${exhibitionInfo}" th:value="${name.exhibitionId}"
											th:text="${name.exhibitionName}"></option>
								</select>
<!--								<select id="exhibitionId" name="exhibitionId" class="form-control " >-->
<!--									<option th:each="name:${exhibitionInfo}" th:value="${name.exhibitionId}" th:text="${name.exhibitionName}"></option>-->
<!--								</select>-->
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label is-required">物流名称：</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" id="logisticsName" name="logisticsName"  required>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label is-required">物流单号：</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" id="logisticsNumber" name="logisticsNumber" required>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label is-required">收货人：</label>
							<div class="col-sm-8">
								<div class="input-group search">
									<input name="receiveBy" onclick="selectDeptTree()" id="receiveBy" type="text" placeholder="请选择收货人信息" class="form-control" required>
									<span class="input-group-addon"><i class="fa fa-search"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label is-required">收货部门：</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" id="deptName" name="deptName" required/>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label is-required">收货地址：</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" id="receiveAddress" name="receiveAddress" required/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label class="col-xs-2 control-label">备注：</label>
							<div class="col-xs-10">
								<textarea id="remark" name="remark" class="form-control" onKeyUp="keypress(this)"
										  type="text"  rows = '2'></textarea>
								<label class="name">50</label><span>/</span><label class="maxleng">50</label>
							</div>
						</div>
					</div>
				</div>
<!--				<h4 class="form-header h4">物料信息</h4>-->
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-12 select-table table-striped">
							<table id="bootstrap-table1"></table>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<th:block th:include="include :: ztree-js" />
	<th:block th:include="include :: select2-js" />
	<script th:src="@{/js/jquery.tmpl.js}"></script>
	<script th:inline="javascript">

        var prefix = ctx + "business/return";
        var dataType = [[${@dict.getType('busi_material_type')}]];
        var dataUnit = [[${@dict.getType('busi_material_unit')}]];
        $(function() {
            // var panehHidden = false;
            // if ($(this).width() < 769) {
            //     panehHidden = true;
            // }
            // $('body').layout({ initClosed: panehHidden, west__size: 185 });

			// $('#exhibitionId').select2({
			// 	placeholder: "---请选择展会信息---",
			// 	allowClear: true
			// });

            queryReturnInfo();

			$('#exhibitionId').on('select2:select', function (e) {
				// 处理自己的业务

				$.table.refresh();

				// alert("AAAAAAA")

			})

        });

		function queryReturnInfo() {
			var options = {
				url: prefix + "/selectReturnInfo",
				addSaveUrl:prefix + "/addSave",
				createUrl:prefix + "/returnInfo",
				uniqueId: "sendId",
				// sortName: "sendTime",
				// sortOrder: "ASC",
				modalName: "退还信息",
				queryParams: queryParams,
				showSearch: false,
				showRefresh: false,
				showToggle: false,
				showColumns: false,
				detailView: false,
				columns: [
					// {
					// checkbox: true
					// },
					{
						field: 'returnId',
						title: '退还ID',
						visible: false
					},
					{
						field: 'exhibitionId',
						title: '展会ID',
						visible: false
					},
					{
						field: 'exhibitionName',
						title: '展会名称'
					},
					{
						field: 'address',
						title: '展会地址'
					},
					{
						field: 'organizer',
						title: '办展方'
					},
					{
						field: 'logisticsName',
						title: '物流名称'
					},
					{
						field: 'logisticsNumber',
						title: '物流单号'
					},
					{
						field: 'status',
						title: '状态',
						formatter: function (value, row, index) {

							return $.table.selectDictLabel(dataStatus, row.status);
						}
					},

					{
						field: 'returnNumber',
						title: '退还单号'
					},
					{
						field: 'returnName',
						title: '退还人'
					},
					{
						field: 'returnTime',
						title: '退还时间'
					},

					{
						title: '查看/编辑',
						align: 'center',
						formatter: function (value, row, index) {
							var actions = [];
							actions.push('<a class="btn btn-success btn-xs ' + selectSendMaterialDetailFlag + '" href="javascript:void(0)" onclick="$.operate.selectReturnMaterialDetail(\'' + row.returnId + '\')"><i class="fa fa-edit"></i>物料明细</a> ');
							return actions.join('');
						}
					}
				],
			};
			$.table.init(options);
		}

		function queryParams(params) {
			// alert("fasdfasd");
			var search = $.table.queryParams(params);
			var id = $("#returnId").val();
			// alert(id)
			search.id =  id;
			return search;
		}

        /*  选择收货人信息 */
       function selectDeptTree() {
            var treeId = $("#treeId").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
            var url =  "/exhibition/business/send/selectUserTree/";
		   var options = {
                title: '选择收货人信息',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
	   }

        /*Tree回显*/
	   function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			var body = layer.getChildFrame('body', index);
			$("#treeId").val(body.find('#treeId').val());
			$("#receiveBy").val(body.find('#treeName').val());
			$("#deptId").val(body.find('#deptId').val());
            $("#deptName").val(body.find('#deptName').val());
			layer.close(index);
	   }
		//确定保存退还
		function submitHandler() {
				$.operate.save(prefix + "/saveReturn",
						{
							"returnNumber": $("#returnNumber").val(),
							"exhibitionId": $("#exhibitionId").val(),
							"logisticsName": $("#logisticsName").val(),
							"logisticsNumber": $("#logisticsNumber").val(),
							"receiveAddress": $("#receiveAddress").val(),
							"deptId": $("#deptId").val(),
							"receiveBy": $("#treeId").val(),
							"remark": $("#remark").val()
						}
				);
		}
	</script>
	<script type="text/javascript">
		function keypress(t) {
			var txt = $(t).val().length;
			var len = $(t).parent().children('.maxleng').html() - txt;
			if (len >= 0) {
				$(t).parent().children('.name').html(len);
			} else {
				$(t).val($(t).val().substring(0, $(t).parent().children('.maxleng').text()));
			}
		}
	</script>
</body>
</html>