<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('物料列表')" />
	<th:block th:include="include :: layout-latest-css" />
</head>
	<body class="gray-bg">

		<div class="ui-layout-center">
			<div class="container-div">
				<div class="row">
					<div class="col-sm-12 search-collapse">
						<form id="material-form">
							<input type="hidden" id="materialId" name="materialId">
							<input type="hidden" id="parentId" name="parentId">
							<div class="select-list">
								<ul>
									<li>
										物料名称：<input type="text" name="materialName"/>
									</li>
									<li>
										物料代码：<input type="text" name="materialCode"/>
									</li>
									<li>
										<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
										<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
									</li>
								</ul>
							</div>
						</form>
					</div>

					<input type="button" value="打印此页面" onclick="printpage()" />

					<div class="col-sm-12 search-collapse">

						<!--startprint-->
						<div id="printContent">
							<form id="form-send-info" class="form-horizontal" th:object="${exhibitionInfo}" >


									<h4 class="form-header h4" data-show-print="true">发货信息</h4>
									<div class="col-sm-4" >
										<div class="form-group">
											<label class="col-sm-4 control-label">展会名称：</label>
											<div class="col-sm-8">
												<input class="form-control" type="text" disabled="disabled" name="exhibitionName"
													   id="exhibitionName" th:value="${exhibitionInfo.exhibitionName}" required>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label class="col-sm-4 control-label">展会地址：</label>
											<div class="col-sm-8">
												<input class="form-control" type="text" disabled="disabled" name="address"
													   id="address" th:value="${exhibitionInfo.address}" required>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label class="col-sm-4 control-label">办展方：</label>
											<div class="col-sm-8">
												<input class="form-control" type="text" disabled="disabled" name="organizer"
													   id="organizer" th:value="${exhibitionInfo.organizer}" required>
											</div>
										</div>
									</div>


								<div class="col-sm-12 select-table table-striped">
									<h4 class="form-header h4">物料明细</h4>
									<table id="bootstrap-table"  data-show-print="false"></table>
								</div>
							</form>
						</div>
						<!--endprint-->
					</div>
<!--					</div>-->
<!--					<div>-->
<!--						<input type="button" id="printButton" value="打印" />-->
<!--					</div>-->

				</div>
			</div>
		</div>

		<th:block th:include="include :: footer" />
		<th:block th:include="include :: layout-latest-js" />
		<th:block th:include="include :: ztree-js" />
		<th:block th:include="include :: bootstrap-table-print-js" />
<!--		<script src="js/jquery-1.11.1.js"></script>-->
		<script th:inline="javascript">
		var prefix = ctx + "business/send";
		var dataType = [[${@dict.getType('busi_material_type')}]];
		var dataUnit = [[${@dict.getType('busi_material_unit')}]];

		$(function() {
			var panehHidden = false;
			if ($(this).width() < 769) {
				panehHidden = true;
			}
			$('body').layout({ initClosed: panehHidden, west__size: 185 });
			queryMaterialList();

		});


		function queryMaterialList() {
			var options = {
				url: prefix + "/selectSendMaterialDetail",
                queryParams: queryParams,
				showSearch: false,
				showRefresh: false,
				showToggle: false,
				showColumns: false,
				detailView: false,// 是否显示+-
				printPageBuilder: printPageBuilder,                 // 自定义打印页面模板
				columns: [
					// [
					// 	{
					// 		field: [[${id}]],
					// 		title: '展会信息',
					// 		align : 'center',
					// 		printIgnore:false,
					// 		colspan: 10
					// 	}
					// ],
					[
						{
							field: '',
							title: '序号',
							align: 'center',
							width: '5%',
							formatter: function (value, row, index) {
								var options = $('#bootstrap-table').bootstrapTable('getOptions');
								return options.pageSize * (options.pageNumber - 1) + index + 1;
							},
							printIgnore:true
						},
						{
							field: 'materialId',
							title: '物料ID',
							printIgnore:true,
							visible: false
						},
						{
							field: 'materialName',
							title: '物料名称'
						},
						{
							field: 'materialCode',
							title: '物料代码'
						},
						{
							field: 'nickName',
							title: '物料简称'
						},
						{
						field: 'specifications',
						title: '规格型号'
						},
						{
							field: 'type',
							title: '类型',
							formatter: function(value, row, index) {

								return $.table.selectDictLabel(dataType, row.type);
							}
						},
						{
							field: 'unit',
							title: '计量单位',
							formatter: function(value, row, index) {

								return $.table.selectDictLabel(dataUnit, row.unit);
							}
						},
						{
							field: 'packageQuantity',
							title: '标包数量'
							// visible: false
						},
						{
							field: 'sendQuantity',
							title: '发货数量'
						}
					],

				]
			};
			$.table.init(options);
		}

        function queryParams(params) {
            var search = $.table.queryParams(params);
            var id =  [[${id}]];
            search.id = id;
            return search;
        }

        //打印方法2
		function printpage() {
			let oldStr = window.document.body.innerHTML; // 获取body的内容
			let start = "<!--startprint-->"; // 开始打印标识, 17个字符
			let end = "<!--endprint-->"; // 结束打印标识
			let newStr = oldStr.substr(oldStr.indexOf(start) + 17); // 截取开始打印标识之后的内容
			newStr = newStr.substring(0, newStr.indexOf(end)); // 截取开始打印标识和结束打印标识之间的内容
			window.document.body.innerHTML = newStr; // 把需要打印的指定内容赋给body
			window.print(); // 调用浏览器的打印功能打印指定区域
			window.document.body.innerHTML = oldStr; // body替换为原来的内容
		}


        //打印 方法1
		// $("#printButton").click(function(){
		// 			var bodyContent = $('body').html();
		// 			var printContent = $('#printContent').html();
		// 			//将body内容替换后进行打印操作，再把body内容还原
		// 			$('body').html(printContent);
		// 			window.print();
		// 			$('body').html(bodyContent);
		// 		}
		// );

		// 自定义打印页面模板
		function printPageBuilder(table){
			return `
        	<html>
        	  <head>
        	  <style type="text/css" media="print">
        	  @page {
        	    size: auto;
        	    margin: 25px 0 25px 0;
        	  }
        	  </style>
        	  <style type="text/css" media="all">
        	  table {
        	    border-collapse: collapse;
        	    font-size: 12px;
        	  }
        	  table, th, td {
        	    border: 1px solid grey;
        	  }
        	  th, td {
        	    text-align: center;
        	    vertical-align: middle;
        	  }
        	  p {
        	    font-weight: bold;
        	    margin-left:20px;
        	  }
        	  table {
        	    width:94%;
        	    margin-left:3%;
        	    margin-right:3%;
        	  }
        	  div.bs-table-print {
        	    text-align:center;
        	  }
        	  </style>
        	  </head>
        	  <title>Print Table</title>
        	  <body>
        	  <div class="bs-table-print">${table}</div>
        	  </body>
        	</html>`
		}
		</script>
	</body>

</html>