<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zel.business.test.persistent.mapper.BusiExhibitionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zel.business.test.entity.BusiExhibition">
        <id column="exhibition_id" property="exhibitionId" />
        <result column="exhibition_name" property="exhibitionName" />
        <result column="status" property="status" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="address" property="address" />
        <result column="organizer" property="organizer" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del" property="del" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        exhibition_id, exhibition_name, status, start_time, end_time, address, organizer, create_by, create_time, update_by, update_time, del, remark
    </sql>

</mapper>
